.input-container {
    position: relative;
    margin: 20px 0;

    input {
        width: 100%;
        padding: 15px 10px 5px 10px;
        color: var(--black);
        border: none;
        border-bottom: 1px solid var(--dark-gray);
        outline: none;

        & + label {
            font-size: 14px;
            padding: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            transition: all 200ms;
            color: var(--dark-gray);
            cursor: text;
        }
    }

    & input:focus {
        border: none;
        border-bottom: 2px solid var(--blue);
    }

    &:focus-within input + label,
    & input:not(:placeholder-shown) + label {
        font-size: 12px;
        background-color: white;
        border-radius: 5px;
        color: var(--black);
        margin: 0;
        top: -11px;
        transform: translateY(0%);
    }
    
}