.table-row {
    display: block;
}

.table-row-appear,
.table-row-enter {
    display: block;
    max-height: 0;
    opacity: 0;
    z-index: 1;
}

.table-row-appear-active,
.table-row-enter.table-row-enter-active {
    max-height: 100px;
    opacity: 1;
    transition: all 300ms;
}

.table-row-exit {
    opacity: 1;
}

.table-row-exit.table-row-exit-active {
    opacity: 0;
    transition: all 150ms ease-in-out;
}

.table-row-exit-done {
    opacity: 0;
}

.table-component {

    th,td {
        padding: 16px;
        border-bottom: 1px solid #f0f0f0;;
        font-size: 14px;
    }

    th {
        text-transform: capitalize;
        font-weight: normal;
    }
    
    td {
        color: rgba(0,0,0,.65);
    }

    thead {
        background-color: var(--light-gray);
    }
}